.DS_Store

*.js.map
*.esm.json
*.config.js

coverage
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tgz
*.tmp
*.sublime-workspace
tscommand*.tmp.txt
.tscache/
/lib/.d.ts

pids
logs
results
scratch/
.idea/
.settings/
.vscode/
test-reports.xml

demo/platforms
demo/node_modules
demo/lib
demo/hooks
demo/app/**/*.css

demo-angular/platforms
demo-angular/node_modules
demo-angular/lib
demo-angular/hooks
demo-angular/app/**/*.css
demo-angular/**/*.js

npm-debug.log
node_modules
docs/html
/.project
